<ion-col class="ion-margin-bottom instanceElement ion-align-items-center">
  <ion-thumbnail class="  ion-margin-bottom">
    <ion-img src="{{image?.webPath}}" alt="uploaded image"/>
  </ion-thumbnail>
  <div>
      <progress max="100" value="{{percentage}}"></progress>
  <ion-text>{{percentage.toFixed(2)}}%</ion-text>
  </div>
  <div *ngIf="task$">
    <ion-icon color="light" size="large" (click)="task$.resume()" name="play-circle-outline"></ion-icon>
    <ion-icon color="light" size="large" (click)="task$.pause()" name="pause-circle-outline"></ion-icon>
    <ion-icon color="light" size="large" (click)="task$.cancel()" name="close-circle-outline"></ion-icon>
  </div>
</ion-col>
