<app-header pageName="My Profile" [routes]="routes"/>
<ion-content class="ion-padding" id="main-content">
  <ion-card color="secondary" class="bordered">
    <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-col size="auto">
          <ion-button class="bordered" id="click-trigger"> <ion-icon size="large" name="ellipsis-vertical-outline"/></ion-button>
          <ion-popover trigger="click-trigger" triggerAction="click">
            <ng-template>
              <ion-content class="bordered ion-padding">
                Edit profile data
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-avatar class="avatar" (click)="changeImage()">
            <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl"/>
            <ng-template #placeholder_avatar>
              <div class="fallback avatar">
                <p>Select avatar</p>
              </div>
            </ng-template>
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-card color="tertiary" class="bordered ion-padding ion-justify-content-center">
            <ion-card-title >User name</ion-card-title>
            <ion-card-content>
              User description
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
